@import "~antd/dist/antd.css";
.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}
.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
  border: none !important;
}

/* .ant-menu-item-selected {
  background-color: #f9bb00 !important;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-size: 100px;
}

.navBar {
  background-color: #3a00e5;
  color: white;
  height: 100px;
}

.banner {
  background-color: #ffe100;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  font-weight: bold;
}

.h1 {
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.loginButton {
  background-color: #ffe100;
  width: 130px;
  height: 40px;
  color: black;
  border-radius: 10px;
  margin: 10px;
  font: 14px;
  font-weight: 600;
  border: none;
  text-align: center;
}

.loginButton:hover {
  background-color: #f9bb00;
  border: none;
  color: white;
  border-radius: 10px;
  margin: 10px;
  font: 14px;
  font-weight: 600;
}

.loginButton:focus {
  background-color: #f9bb00;
  border: none;
  color: black;
  border-radius: 10px;
  margin: 10px;
  font: 14px;
  font-weight: 600;
}

.buttonInNavBar {
  border: 0;
  font-size: 20px;
  font-weight: 450;
  background-color: #3a00e5;
  color: white;
  box-shadow: none;
}

.buttonInNavBar:hover {
  border: 0;
  font-size: 20px;
  font-weight: 600;
  background-color: #3a00e5;
  color: white;
  box-shadow: none;
}

.buttonInNavBar:focus {
  border: 0;
  font-size: 20px;
  font-weight: 600;
  background-color: #3a00e5;
  color: white;
  box-shadow: none;
}

.buttonBlue {
  background-color: #3a00e5;
  color: white;
  border-radius: 10px;
  margin: 10px;
}

.buttonTab {
  background-color: white;
  color: #3a00e5;
  border: 1.5px solid #3a00e5;
  border-radius: 10px;
  margin: 10px;
  font-size: 14;
  width: 100;
  margin: 0;
}

.buttonTab:hover {
  background-color: #3a00e5;
  color: white;
  border: #3a00e5;
}
.buttonTab:focus {
  background-color: #3a00e5;
  color: white;
  border: #3a00e5;
}

.buttonWithoutBorder {
  border: 0;
  margin: 10px;
  margin-bottom: 0;
  box-shadow: none;
}
.buttonWithoutBorder:focus {
  border: 1.5px dashed #3a00e5;
  font-size: 14px;
}
